.Cartz {
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid #aaaaaa;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
}
.Dividerz {
    width: 300px;
    height: 100%;
    background-color: #AAA !important;
   
}
.namePro {
    height: 64px;
}
.cardroot {
    width: 300px;
    height: 380px;
}
.listItemz {
    background-color: #AAA !important;
    border: 1px solid #777 !important;
    display: flex;
    
}

.Item h3 {
    text-align: center;
}
.Itemz {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.btn-itemZ {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 20px;
    font-style: oblique;
    padding: 10px 40px 10px 40px;
    color: #999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-itemZ {
    text-shadow: 1px 1px #80B534;
}
.chosen {
    color: #80B534 !important;
    background-color: #fff !important;
}
.cardS {
    display: flex;
}
.btn-cancel {
    position: absolute;
    right: 5px;
    top: 5px;
}
.Itemz h5 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #666;
    border: 1px solid #AAA;
}
.Itemz h5 span {
    color: #13dba2b5;
    font-weight: bold;
}
.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (max-width: 600px) {
    .Cartz {
        width: 100%;
        flex-direction: column;
    }
    .Dividerz {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,auto);
    }
    .cardroot {
        height: 320px;
    }
}