.d-login {
    position: relative;
    top: -100px;
    display: flex;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 1px solid #CCC;
}
.bg-login {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.bg-login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form-login {
    position: unset;
    width: 400px;
    border-radius: unset !important;
    border: unset !important;
}
#form-login input {
    width: 300px;
}
input:focus {
    outline: none;
    padding: 10px;
}
.Login {
    width: auto;
    height: auto;
    position: relative;
}
.Login form {
    margin-bottom: 50px;
    position: relative;
    top: -130px;
}
.Login .left-scene {
    width: 300px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 20px;
}    
.Login .left-scene img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Login .right-scene {
    width: 200px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 20px;
}    
.Login .right-scene img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Login .top-scene {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0px;
}    
.Login .top-scene img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Login .logo {
    display: none;
    margin-top: 30px;
    border: 1px solid #CCC;
    border-radius: 5000px;
    overflow: hidden;
    width: 60px;
}
.Login .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.link-signup {
    margin-bottom: 20px;
    color: #CCC;
}
.link-signup:hover {
    color: #FFF;
}
.kep-login-facebook {
    height: 80%;
}
.btn-login {
    background-color: #3fa615;
    color: #DDD;
    border: 1px solid #AAA;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 20px 3px 20px;
    margin-bottom: 10px;
}
@media(max-width: 600px) {
    .Login .left-scene {
        display: none;
    }
    .Login .right-scene {
        display: none;
    }
    .bg-login {
        display: none;
    }
    .d-login{
        width: auto;
        height: auto;
    }
    #form-login {
        border: unset !important;
    }
    .Login .logo {
        display: block;
    }
}